/* =========================Features====================== */
.whyus {
    padding: 60px 120px; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
} 
.whyushead {
    display: flex;  
       }
.headleft{
flex: 7;
display: flex; 
flex-direction: column;
gap: 40px;
}
.headright{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headleft h1 {
    text-transform: uppercase;
    color: #132146;
    font-size: 3rem;
}
.headleft p{
    line-height: 2;
    font-size: 1rem;
}
.whyusbody{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.whyusFooter{ 
    display: flex; 
    gap: 30px; 
    align-items: center;
    flex-direction: column; 
}
.whyusFooter .footerBtn {
    border: solid 2px #132146;
    text-align: center;
    width: 160px;
    height: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: color 1s ;
    transition: border 1s;
    background-color: #132146;
    color: white;
  }
  .footerBtn:hover{
    background-color: #F63F48;
    color: #F2F2F2;
    border-color: #132146; 
  }

/* why us card  */
.wscardMain { 
    width: 30%;    
    padding: 10px ;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    border:solid 2px #4c4c4c64;
    transition: border 1s; 
}
.wscardMain i {
    color:#132146;
    font-size: 40px;
}
.wscardMain h3{
color: #F63F48;
font-size: 1.5rem;
}
.wscardMain p{
    line-height: 1.5;
    font-size: 1rem;

}
.wscardMain:hover{
    border:solid 2px #F63F48;
}

@media (max-width:1100px) and (min-width:700px) 
{
    .whyus {
        padding: 40px 60px; 
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 30px;
           }  
        .whyusbody{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
     .whyusFooter .footerBtn {
        border: solid 2px #132146;
        text-align: center;
        width: 160px;
        height: 60px;
       font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        transition: color 1s ;
        transition: border 1s;
        background-color: #132146;
        color: white;
      }
             /* why us card  */
    .wscardMain { 
        width: 49%;    
        padding: 10px ;
        display: flex;
        flex-direction: column;
        gap: 10px; 
        border:solid 2px #4c4c4c64;
        transition: border 1s; 
    }
  
}
@media(max-width:700px){
    .whyus {
        padding: 30px 10px; 
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 30px;
       
    } 
    .whyushead {
        display: flex;  
        flex-direction: column-reverse;
           }
    .headleft{
    flex: 12;
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    }
    .headright{
        flex: 12;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .headleft h1 {
        text-transform: uppercase;
        color: #132146;
        font-size: 2rem;
    }
    .headleft p{
        line-height: 2;
        font-size: 1rem;
    }
    .whyusbody{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .whyusFooter{ 
        display: flex; 
        gap: 30px; 
        align-items: center;
        flex-direction: column; 
    }
    .whyusFooter .footerBtn {
        border: solid 2px #132146;
        text-align: center;
        width: 160px;
        height: 60px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        transition: color 1s ;
        transition: border 1s;
        background-color: #132146;
        color: white;
      }
      .footerBtn:hover{
        background-color: #F63F48;
        color: #F2F2F2;
        border-color: #132146; 
      }
    
    /* why us card  */
    .wscardMain { 
        width: 100%;    
        padding: 10px ; 
    }
   
}
/* ====================Form Component===================== */
.formouter{ 
    width: 100%;
    height: 100%;
}
.formmain{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
    padding: 60px 120px; 
    gap: 40px;
}
.formheader{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    gap: 30px;
    
}
.servicetype{ 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
}

.formbody{
    /* border:  1px solid black; */
    gap: 40px;
    display: flex;
    justify-content: space-around;
}
.formbodyLeft{
    flex: 6;
    display: flex;
    flex-direction: column;

}
.formbodyRight{
flex: 6;
display: flex;
flex-direction: column;
}
.formbody input,.formbody  textarea{
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto';
}
.formbody input:focus,.formbody select, .formbody  textarea:focus{
    outline: none;
}
.formbody label{
    padding: 10px; 
    /* margin: 10px; */
    border: 1px solid black;
}
.formbody select{
width: 20px;
background-color: transparent;
border: none;  
}
.nopages{
    position: relative;
}
.nopages i{
    font-size: 24px;
    border: solid 1px #4C4C4C;
}
 
.formfooter{
    display: flex;
    /* justify-content: flex-start; */
    /* flex-direction: column; */
}
.formmain button{
    text-align: center;
    background-color: #37C2CC;
    width: 160px;
    height: 60px;
    font-size: 18px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: color 1s ease-in-out;
    transition: border 1s ease-in-out; 
    border: none;
}

.formmain button:hover{
    color: #37C2CC;
    border:black solid 2px ;
    background-color: transparent;
  }


  /* ==========================Stats CSS ===================*/
.stats{
    padding: 60px 120px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color:  #132146;
}
.stats h1{
    font-size: 2.5rem;
    color: #F2F2F2;;
    text-transform: uppercase;
}
.stats h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: #F63F48;
}
.statsbody{
display: flex; 
justify-content: space-between;gap: 10px;
}
.statscard{ 
display: flex;
flex-direction: column;
justify-content: space-between; 
text-align: center; 
gap: 40px;
width: 25%;
transition: 1s color ease-in-out;
border: solid 1px rgba(255, 255, 255, 0.146);
}
.statscard  i{
    font-size: 50px;
    color: #F63F48;
}
.stats h3{
    font-size: 1.5rem;
    color: #F2F2F2;
}
.statscard:hover{
    color: #F2F2F2;
}
.stats .ordernow{
    display: flex; 
    justify-content: center; 
}


@media (max-width:1100px) and (min-width:700px) {
    .stats{
        padding: 40px 60px;
        gap: 50px;
        background-color:  #132146;
    }
   
}

@media(max-width:700px) {
    .stats{
        padding: 30px 10px;
        gap: 50px;
        background-color:  #132146;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color:  #132146;
    } 
    .stats h1{
        font-size: 2rem;
        color: #F2F2F2;;
        text-transform: uppercase;
    }
    .stats h2{
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #F63F48;
    }
    .statsbody{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    }
    .statscard{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center; 
    gap: 40px;
    width: 100%;
    transition: 1s color ease-in-out;
    border: solid 1px rgba(255, 255, 255, 0.146);
    } 
    .stats h3{
        font-size: 1rem;
    }
  
    
   
}


/* ==================Testimonisls======================== */
.testimonial{
    width: 100vw;
    padding: 60px 120px;
} 
.testimonialHead{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.testimonialHead h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #132146;
}
.testimonialHead h3{
font-size: 1.5rem;
color: #F63F48;
}
.testimonialBody{ 
    margin: 40px 0;
    }
.testimonialBody .swipermain{ 
    border:  solid #132146 1px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 200px;
    }

    .swipermain .username{
        font-weight: 900;
        font-size: 1.5rem;
    }
.swipermain .review{
    font-size: 1.2rem;
    margin-top: 20px;

}
.swipermain .rating{
    font-size: 1rem;
    color: #F63F48;
    font-weight: 700;
}
.swipermain .revDate{
    font-size: 1rem;
    font-weight: 500;
}
.testimonialBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.testimonialBottom p{
    font-size: 1rem;
    color: #F63F48;
    font-weight: 700;
}

  @media (max-width:700px) {
    .testimonial{ 
        padding: 30px 10px;
    } 
    .testimonialHead{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .testimonialHead h1{
        font-size: 2rem; 
    }
    .testimonialHead h3{
    font-size: 1.5rem;
    color: #F63F48;
    }
    .testimonialBody{ 
        margin: 40px 0;
        }
    .testimonialBody .swipermain{ 
        border:  solid #132146 1px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        height: 200px;
        }
    
        .swipermain .username{
            font-weight: 900;
            font-size: 1.5rem;
        }
    .swipermain .review{
        font-size: 1.2rem;
        margin-top: 20px;
    
    }
    .swipermain .rating{
        font-size: 1rem;
        color: #F63F48;
        font-weight: 700;
    }
    .swipermain .revDate{
        font-size: 1rem;
        font-weight: 500;
    }
    .testimonialBottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .testimonialBottom p{
        font-size: 1rem;
        color: #F63F48;
        font-weight: 700;
    }
  }
  @media (max-width:1100px) and (min-width:700px) {
    .testimonial{ 
        padding:40px 60px ;
    } 
    .testimonialHead{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .testimonialHead h1{
        font-size: 2rem; 
    }
   
}

/* =====================How it Works============= */
.howItWork{
    width: 100vw;
    /* height: 50vh; */
    background-color: transparent;
    border-top: 4px solid #132146;
    border-bottom: 4px solid #132146;
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.howItWork h1{
    font-size: 3rem;
    color: #132146;
}
.howItWork p{
    font-size: 1rem;
}
.howItWorkBody{
    display: flex;
    justify-content: space-between;

}
.howItWorkBody > div{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}


@media (max-width:1100px) and (min-width:700px) {
    .howItWork{
        width: 100vw; 
        background-color: transparent;
        border-top: 4px solid #132146;
        border-bottom: 4px solid #132146;
        padding: 30px 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .howItWork h1{
        font-size: 2rem; 
    }
    .howItWork p{
        font-size: 1rem;
    }
    .howItWorkBody{
        display: flex;
        justify-content: space-between;
    
    }
    .howItWorkBody > div{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }
    .howItWorkBody > div:nth-child(even) {
        display:none;
    }
    
}

@media (max-width:700px) {

    .howItWork{ 
        background-color: transparent;
        border-top: 4px solid #132146;
        border-bottom: 4px solid #132146;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .howItWork h1{
        font-size: 2rem;
        color: #132146;
    }
    .howItWorkBody{
        display: flex;
        justify-content: space-between;
    
    }
    .howItWorkBody > div{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .howItWorkBody img{
        width: 90%;
    }
    .howItWorkBody > div:nth-child(even) {
        display:none;
    }
    .howItWork p{
        font-size: .5rem;
    }
    
}