 

$animationSpeed: 50s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
.testimonails{
    background-color:#FFFFFF ; 

}

.testimonails .testimonail-head{
    padding: 60px 120px 0; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.testimonail-bottom{
    padding: 20px 120px 0; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.slider {
	// height: 250px; 
    padding: 0 20px 0;
	// margin: 0 120px;
	overflow:hidden; 
	position: relative;
	width: auto;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(350px * 14); 
	}
	.slide {
		height: 300px;
		width: 550px;
        padding: 10px;
        border: solid 1px black;
        margin:  50px 0;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        margin-right: 20px;
        gap: 20px;
	}

    // testiomals top
    .slide .slide-top{
        display: flex; 
        justify-content: space-between;
    } 
    .slide-top-detail{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .slide-top-img img{
        display: flex;
        border: solid 2px black;
        border-radius: 50%;
        object-fit: contain; 
        width: 90px;
        height: 90px;
    }

    // Testimoanilbody
    .slide-body span{
        border: 1px solid gainsboro;
        margin-right: 4px;
        font-size: 1rem;

    }
 
    //testimoal footer
    .slide-bottom{
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
    }
 .slide-bottom-detail{
    display: flex;
    flex-direction: column;
 }

}