*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}body{
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #F2F2F2;
}
@media(min-width: 700px) and (max-device-width: 1100px)  {
     
}
@media(max-width:700px){
   body{
    font-size: 18px;
   }
}

li{
    list-style-type: none; 
  }
 
a{
    text-decoration: none;
    color: black;  
}
/*  */
.order-now-button {
    text-align: center;
    background-color: #37C2CC;
    width: 160px;
    height: 60px;
    font-size: 18px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: color 1s;
    transition: border 1s;
    /* transition: background-color 1s; */
  }

  .order-now-button:hover{
    color: #37C2CC;
    border:black solid 2px ;
    background-color: transparent;
  }
 
  /*  */
  .spinner {
    border: 6px solid #3498db; /* Choose your spinner color */
    border-radius: 50%;
    border-top: 6px solid transparent;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }