.order-now-button {
    text-align: center;
    background-color:   #F63F48;
    width: 160px;
    height: 60px;
    font-size: 18px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: color 1s;
    transition: border 1s;
    /* transition: background-color 1s; */
  }

  .order-now-button:hover{
    color: #F63F48 ;
    border:#F63F48 solid 2px ;
    background-color: transparent;
  }

  .hire-me-button {
    text-align: center;
    background-color:  #F63F48;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    display: flex;
    font-weight: 700;
    border:#132146   solid 2px ;
    align-items: center;
    justify-content: center;
    transition: color 1s;
    transition: border 1s;
    /* transition: background-color 1s; */
  }

  .hire-me-button:hover{
    color: #132146;
    background-color: transparent;
  }